1. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list based on this
i) January - 2200
ii) February - 2350
iii) March - 2600
iv) April - 2130
v) May - 2190
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [2]:
expense=[2200,2350,2600,2130,2190]

In [4]:
print("Extra expense is: ",expense[1]-expense[0])

Extra expense is:  150

In [6]:
total=0
for i in range(0,3):
    total+=expense[i]
print("total expense is: ",total)

total expense is:  7150

In [12]:
t=0
for i in expense:
    if i==2000:
        t=1
        break
if t==0:
    print("Not Find")
else: 
    print("Find")

Not Find

In [13]:
expense.append(1980)

In [15]:
expense[3]=expense[3]+200

In [17]:
print(expense)

[2200, 2350, 2600, 2330, 2190, 1980]

2. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [48]:
heros=['spider man','thor','hulk','iron man','captain america']

In [49]:
print("The size of the number of heros is: ",len(heros))

The size of the number of heros is:  5

In [50]:
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [51]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [52]:
for i in range(0,len(heros)):
    if heros[i]=='hulk':
        t=i
        break
heros.insert(t,'black panther')
heros

['spider man', 'thor', 'black panther', 'hulk', 'iron man', 'captain america']

In [53]:
heros=["doctor strage" if hero in ['thor','hulk'] else hero for hero in heros]

In [54]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strage',
 'doctor strage',
 'iron man',
 'spider man']

3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [57]:
n=int(input("Enter the maximum number: "))
li=[]
for i in range(1,n+1):
    li.append(i)
li

Enter the maximum number: 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

4. In LinkedList class that we implemented in our tutorial add following two methods, 
def insert_after_value(self, data_after, data_to_insert):
    # Search for first occurance of data_after value in linked list
    # Now insert data_to_insert after data_after node

def remove_by_value(self, data):
    # Remove first node that contains data
Now make following calls,
    ll = LinkedList()
    ll.insert_values(["banana","mango","grapes","orange"])
    ll.print()
    ll.insert_after_value("mango","apple") # insert apple after mango
    ll.print()
    ll.remove_by_value("orange") # remove orange from linked list
    ll.print()
    ll.remove_by_value("figs")
    ll.print()
    ll.remove_by_value("banana")
    ll.remove_by_value("mango")
    ll.remove_by_value("apple")
    ll.remove_by_value("grapes")
    ll.print()

In [45]:
class Node:
    def __init__(self,data=None,link=None):
        self.data=data
        self.link=link
class linked_list:
    def __init__(self):
        self.head=None
    def insert_after_value(self,data_after,data_to_insert):
        if self.head is None:
            self.head=Node(data_to_insert,None)
            return 
        if self.head.data==data_after:
            self.head.link=Node(data_to_insert,None)
            return
        itr=self.head
        while itr.link:
            if itr.link.data==data_after:
                itr.link.link=Node(data_to_insert,itr.link.link)
                break
            itr=itr.link
    def remove_by_value(self,value):
        if self.head is None:
            print("the linked list is empty ")
            return
        if self.head.data==value:
            self.head=self.head.link
            return
        itr=self.head
        while itr.link:
            if itr.link.data==value:
                itr.link=itr.link.link
                break
            itr=itr.link
            
    def insert_end(self,data):
        if self.head is None:
            self.head=Node(data,None)
            return
        itr=self.head
        while itr.link:
            itr=itr.link
        itr.link=Node(data,None)
        
    def insert_values(self,li):
        for d in li:
            self.insert_end(d)
    def print(self):
        itr=self.head
        while itr:
            print(itr.data," then")
            itr=itr.link
    
if __name__=="__main__":
    ll=linked_list()
    ll.insert_values(["banana","mango","grapes","orange"])
    ll.print()
    ll.insert_after_value("mango","apple") # insert apple after mango
    ll.print()
    ll.remove_by_value("orange") # remove orange from linked list
    ll.print()
    ll.remove_by_value("figs")
    ll.print()

banana  then
mango  then
grapes  then
orange  then
banana  then
mango  then
apple  then
grapes  then
orange  then
banana  then
mango  then
apple  then
grapes  then
banana  then
mango  then
apple  then
grapes  then

5.  Implement doubly linked list. The only difference with regular linked list is that double linked has prev node reference as well. That way you can iterate in forward and backward direction. Your node class will look this this,
class Node:
    def __init__(self, data=None, next=None, prev=None):
        self.data = data
        self.next = next
        self.prev = prev
Add following new methods,
def print_forward(self):
    # This method prints list in forward direction. Use node.next

def print_backward(self):
    # Print linked list in reverse direction. Use node.prev for this.
Implement all other methods in regular linked list class and make necessary changes for doubly linked list (you need to populate node.prev in all those methods)

In [28]:
class Node:
    def __init__(self,data=None,nex=None,prev=None):
        self.data=data
        self.nex=nex
        self.prev=prev
class linked_list:
    def __init__(self):
        self.head=None
    def print_forward(self):
        if self.head is None:
            print("The double linked list is empty ")
            return
        itr=self.head
        string=''
        while itr:
            string=string+str(itr.data)+'-->'
            itr=itr.nex
        print(string)
    def print_backward(self):
        if self.head is None:
            print("The double linked list is empty ")
            return
        
        itr=self.head
        while itr.nex:
            itr=itr.nex
            
        string=''
        while itr:
            string=string+str(itr.data)+'-->'
            itr=itr.prev
        print(string)
        
    def insert_ending(self,data):
        if self.head is None:
            self.head=Node(data, None, None)
            return
        itr=self.head
        while itr.nex:
            itr=itr.nex
        itr.nex=Node(data,None,itr)
        
    def add_node(self,lists):
        for d in lists:
            self.insert_ending(d)
ll=linked_list()
ll.add_node(['12','32','56','31'])
ll.print_forward()
ll.print_backward()

12-->32-->56-->31-->
31-->56-->32-->12-->

6. nyc_weather.csv contains new york city weather for first few days in the month of January. Write a program that can answer following,
What was the average temperature in first week of Jan
What was the maximum temperature in first 10 days of Jan
Figure out data structure that is best for this problem

In [37]:
f=open('nyc_weather.csv','r')
next(f)
f

In [38]:
link=[]
for i in f:
    li=i.strip()
    li=li.split(',')
    link.append(int(li[1]))

In [39]:
print(sum(link[0:5])/5)

30.4

In [40]:
max(link[0:10])

38

In [41]:
type(link)

list

7. nyc_weather.csv contains new york city weather for first few days in the month of January. Write a program that can answer following,
What was the temperature on Jan 9?
What was the temperature on Jan 4?
Figure out data structure that is best for this problem

In [42]:
f=open('nyc_weather.csv','r')

In [43]:
class Hash_table:
    def __init__(self):
        self.Max=10
        self.arr=[[] for i in range(self.Max)]
    def get_value(self,key):
        h=0
        for ch in key:
            h=h+ord(ch)
        return h%self.Max
    def __setitem__(self,key,value):
        h=self.get_value(key)
        found=False
        for idx, element in enumerate(self.arr[h]):
            if len(element[0])==2 and element[1]==key:
                found=True
                self.arr[h][idx]=(key,value)
                break
        if not found:
            self.arr[h].append((key,value))
    def __getitem__(self, key):
        h=self.get_value(key)
        for idx, element in enumerate(self.arr[h]):
            if element[0]==key:
                return element[1]

In [44]:
ll=Hash_table()

In [45]:
next(f)
for line in f:
    line=line.strip()
    line=line.split(',')
    ll[line[0]]=int(line[1])

In [46]:
ll.arr

[[('Jan 9', 35), ('Jan 10', 30)],
 [],
 [('Jan 1', 27)],
 [('Jan 2', 31)],
 [('Jan 3', 23)],
 [('Jan 4', 34)],
 [('Jan 5', 37)],
 [('Jan 6', 38)],
 [('Jan 7', 29)],
 [('Jan 8', 30)]]

In [47]:
print(ll['Jan 9'])

35

In [48]:
ll['Jan 4']

34

8. poem.txt Contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in python and print every word and its count as show below. Think about the best data structure that you can use to solve this problem and figure out why you selected that specific data structure.
 'diverged': 2,
 'in': 3,
 'I': 8

In [62]:
f=open('poet.txt','r')

In [53]:
lis=[]
for line in f:
    line=line.strip()
    line=line.split()
    for i in line:
        lis.append(i)

In [59]:
lis

['Two',
 'roads',
 'diverged',
 'in',
 'a',
 'yellow',
 'wood,',
 'And',
 'sorry',
 'I',
 'could',
 'not',
 'travel',
 'both',
 'And',
 'be',
 'one',
 'traveler,',
 'long',
 'I',
 'stood',
 'And',
 'looked',
 'down',
 'one',
 'as',
 'far',
 'as',
 'I',
 'could',
 'To',
 'where',
 'it',
 'bent',
 'in',
 'the',
 'undergrowth;',
 'Then',
 'took',
 'the',
 'other,',
 'as',
 'just',
 'as',
 'fair,',
 'And',
 'having',
 'perhaps',
 'the',
 'better',
 'claim,',
 'Because',
 'it',
 'was',
 'grassy',
 'and',
 'wanted',
 'wear;',
 'Though',
 'as',
 'for',
 'that',
 'the',
 'passing',
 'there',
 'Had',
 'worn',
 'them',
 'really',
 'about',
 'the',
 'same,',
 'And',
 'both',
 'that',
 'morning',
 'equally',
 'lay',
 'In',
 'leaves',
 'no',
 'step',
 'had',
 'trodden',
 'black.',
 'Oh,',
 'I',
 'kept',
 'the',
 'first',
 'for',
 'another',
 'day!',
 'Yet',
 'knowing',
 'how',
 'way',
 'leads',
 'on',
 'to',
 'way,',
 'I',
 'doubted',
 'if',
 'I',
 'should',
 'ever',
 'come',
 'back.',
 'I',
 'shall',
 'be',
 'telling',
 'this',
 'with',
 'a',
 'sigh',
 'Somewhere',
 'ages',
 'and',
 'ages',
 'hence:',
 'Two',
 'roads',
 'diverged',
 'in',
 'a',
 'wood,',
 'and',
 'Iâ€”',
 'I',
 'took',
 'the',
 'one',
 'less',
 'traveled',
 'by,',
 'And',
 'that',
 'has',
 'made',
 'all',
 'the',
 'difference.']

In [57]:
from statistics import Counter

In [58]:
count_word=Counter(lis)
count_word

Counter({'Two': 2,
         'roads': 2,
         'diverged': 2,
         'in': 3,
         'a': 3,
         'yellow': 1,
         'wood,': 2,
         'And': 6,
         'sorry': 1,
         'I': 8,
         'could': 2,
         'not': 1,
         'travel': 1,
         'both': 2,
         'be': 2,
         'one': 3,
         'traveler,': 1,
         'long': 1,
         'stood': 1,
         'looked': 1,
         'down': 1,
         'as': 5,
         'far': 1,
         'To': 1,
         'where': 1,
         'it': 2,
         'bent': 1,
         'the': 8,
         'undergrowth;': 1,
         'Then': 1,
         'took': 2,
         'other,': 1,
         'just': 1,
         'fair,': 1,
         'having': 1,
         'perhaps': 1,
         'better': 1,
         'claim,': 1,
         'Because': 1,
         'was': 1,
         'grassy': 1,
         'and': 3,
         'wanted': 1,
         'wear;': 1,
         'Though': 1,
         'for': 2,
         'that': 3,
         'passing': 1,
         'there': 1,
         'Had': 1,
         'worn': 1,
         'them': 1,
         'really': 1,
         'about': 1,
         'same,': 1,
         'morning': 1,
         'equally': 1,
         'lay': 1,
         'In': 1,
         'leaves': 1,
         'no': 1,
         'step': 1,
         'had': 1,
         'trodden': 1,
         'black.': 1,
         'Oh,': 1,
         'kept': 1,
         'first': 1,
         'another': 1,
         'day!': 1,
         'Yet': 1,
         'knowing': 1,
         'how': 1,
         'way': 1,
         'leads': 1,
         'on': 1,
         'to': 1,
         'way,': 1,
         'doubted': 1,
         'if': 1,
         'should': 1,
         'ever': 1,
         'come': 1,
         'back.': 1,
         'shall': 1,
         'telling': 1,
         'this': 1,
         'with': 1,
         'sigh': 1,
         'Somewhere': 1,
         'ages': 2,
         'hence:': 1,
         'Iâ€”': 1,
         'less': 1,
         'traveled': 1,
         'by,': 1,
         'has': 1,
         'made': 1,
         'all': 1,
         'difference.': 1})

In [71]:
coud_word={}
for line in f:
    tokens =line.split(' ')
    for token in tokens:
        token=token.replace('\n','')
        if token in coud_word:
            coud_word[token]+=1
        else:
            coud_word[token]=1

In [72]:
coud_word

{'Because': 1,
 'it': 1,
 'was': 1,
 'grassy': 1,
 'and': 3,
 'wanted': 1,
 'wear;': 1,
 'Though': 1,
 'as': 1,
 'for': 2,
 'that': 3,
 'the': 5,
 'passing': 1,
 'there': 1,
 'Had': 1,
 'worn': 1,
 'them': 1,
 'really': 1,
 'about': 1,
 'same,': 1,
 '': 2,
 'And': 2,
 'both': 1,
 'morning': 1,
 'equally': 1,
 'lay': 1,
 'In': 1,
 'leaves': 1,
 'no': 1,
 'step': 1,
 'had': 1,
 'trodden': 1,
 'black.': 1,
 'Oh,': 1,
 'I': 5,
 'kept': 1,
 'first': 1,
 'another': 1,
 'day!': 1,
 'Yet': 1,
 'knowing': 1,
 'how': 1,
 'way': 1,
 'leads': 1,
 'on': 1,
 'to': 1,
 'way,': 1,
 'doubted': 1,
 'if': 1,
 'should': 1,
 'ever': 1,
 'come': 1,
 'back.': 1,
 'shall': 1,
 'be': 1,
 'telling': 1,
 'this': 1,
 'with': 1,
 'a': 2,
 'sigh': 1,
 'Somewhere': 1,
 'ages': 2,
 'hence:': 1,
 'Two': 1,
 'roads': 1,
 'diverged': 1,
 'in': 1,
 'wood,': 1,
 'Iâ€”': 1,
 'took': 1,
 'one': 1,
 'less': 1,
 'traveled': 1,
 'by,': 1,
 'has': 1,
 'made': 1,
 'all': 1,
 'difference.': 1}

9. Write a function in python that can reverse a string using stack data structure. Use Stack class from the tutorial.
reverse_string("We will conquere COVID-19") should return "91-DIVOC ereuqnoc lliw eW"

In [150]:
from collections import deque

In [151]:
class  Stack:
    def __init__(self):
        self.con=deque()
    def push(self,data):
        self.con.append(data)
    def pop(self):
        return self.con.pop()
    def size(self):
        return len(self.con)

In [152]:
stac=Stack()

In [153]:
s='We will conquere COVID-19'

In [154]:
for i in range(0,len(s)):
    stac.push(s[i])

In [155]:
re=''
siz=stac.size()
for i in range(1,26):
    re=re+stac.pop()
re

'91-DIVOC ereuqnoc lliw eW'

10. Write a function in python that checks if paranthesis in the string are balanced or not. Possible parantheses are "{}',"()" or "[]". Use Stack class from the tutorial.
is_balanced("({a+b})")     --> True
is_balanced("))((a+b}{")   --> False
is_balanced("((a+b))")     --> True
is_balanced("))")          --> False
is_balanced("[a+b]*(x+2y)*{gg+kk}") --> True

In [2]:
from collections import deque

In [3]:
class Queue:
    def __init__(self):
        self.queue=deque()
    def order(self, data):
        self.queue.appendleft(data)
    def delete(self):
        return self.queue.pop()
    def is_empty(self):
        return len(self.queue)==0
    def size(self):
        return len(self.queue)

In [4]:
q=Queue()
q.order({
    'product':'Smart Watch',
    'timestamp':"12 th 1200",
    'price':123.4
})

In [5]:
q.size()

1

10. Write a program to print binary numbers from 1 to 10 using Queue. Use Queue class implemented in main tutorial. Binary sequence should look like,
    1
    10
    11
    100
    101
    110
    111
    1000
    1001
    1010

In [7]:
from queue import Queue
def generate_binary_numbers(n):
    q=Queue()
    q.put("1")
    for _ in range(n):
        binary_number=q.get()
        print(binary_number)
        q.put(binary_number+"0")
        q.put(binary_number+"1")
n=10
generate_binary_numbers(n)

1
10
11
100
101
110
111
1000
1001
1010

In [20]:
#Tree in python

1. Below is the management hierarchy of a company.
  nilupul (CEO)
      Chinmay (CTO)
          Vishawa (Infrastructure Head)
              Dhaval (Cloud Manager)
              Abhijit (App Manager)
          Aamir (Application Head)
      Gels (HR Head)
          Peter (Recruitment Manger)
          Waqas (Policy Manager)
Extent tree class built in our main tutorial so that it takes name and designation in data part of TreeNode class. Now extend print_tree function such that it can print either name tree, designation tree or name and designation tree. As shown below,
Here is how your main function should will look like,
if __name__ == '__main__':
    root_node = build_management_tree()
    root_node.print_tree("name") # prints only name hierarchy
    root_node.print_tree("designation") # prints only designation hierarchy
    root_node.print_tree("both") # prints both (name and designation) hierarchy

In [1]:
class tree:
    def __init__(self,data,designation):
        self.data=data
        self.designation=designation
        self.children=[]
        self.parent=None
        
    def add_children(self,child):
        child.parent=self
        self.children.append(child)
        
    def get_value(self):
        level=0
        p=self.parent
        while p:
            level+=1
            p=p.parent
        return level
    
    def print_tree(self,dd):
        if dd=="name":
            spaces=' '*self.get_value()*3
            prefix=spaces+'|__' if self.parent else ""
            print(prefix+self.data)
            if self.children:
                for child in self.children:
                    child.print_tree(dd)
        
        elif dd=="designation":
            spaces=' '*self.get_value()*3
            prefix=spaces+'|__' if self.parent else ""
            print(prefix+self.designation)
            if self.children:
                for child in self.children:
                    child.print_tree(dd)
                    
        elif dd=="both":
            spaces=' '*self.get_value()*3
            prefix=spaces+'|__' if self.parent else ""
            print(prefix+self.data+"( "+self.designation+" )")
            if self.children:
                for child in self.children:
                    child.print_tree(dd)
                
def build_tree():
    Nilupul=tree("Nilupul","CEO")
    Chinmay=tree("Chinmay","CTO")
    Vishwa=tree("Vishwa","Infrastructure Head")
    Dhaval=tree("Dhaval","Cloud Manager")
    Abhijit=tree("Abhijit","App Manager")
    Aamir=tree("Aamir","Application Head")
    Gels=tree("Gels","HR Head")
    Peter=tree("Peter","Recruitment Manager")
    Waqas=tree("Waqas","Policy Manager")
    
    Nilupul.add_children(Chinmay)
    Nilupul.add_children(Gels)
    
    Chinmay.add_children(Vishwa)
    Chinmay.add_children(Aamir)
    
    Vishwa.add_children(Dhaval)
    Vishwa.add_children(Abhijit)
    
    Gels.add_children(Peter)
    Gels.add_children(Waqas)
    
    return Nilupul

In [2]:
if __name__ == '__main__':
    root_node = build_tree()
    root_node.print_tree("name") # prints only name hierarchy
    print()
    root_node.print_tree("designation")
    print()
    # prints only designation hierarchy
    root_node.print_tree("both") # prints both (name and designation) hierarchy

Nilupul
   |__Chinmay
      |__Vishwa
         |__Dhaval
         |__Abhijit
      |__Aamir
   |__Gels
      |__Peter
      |__Waqas

CEO
   |__CTO
      |__Infrastructure Head
         |__Cloud Manager
         |__App Manager
      |__Application Head
   |__HR Head
      |__Recruitment Manager
      |__Policy Manager

Nilupul( CEO )
   |__Chinmay( CTO )
      |__Vishwa( Infrastructure Head )
         |__Dhaval( Cloud Manager )
         |__Abhijit( App Manager )
      |__Aamir( Application Head )
   |__Gels( HR Head )
      |__Peter( Recruitment Manager )
      |__Waqas( Policy Manager )

2. Build below location tree using TreeNode class

In [16]:
class tree:
    def __init__(self,data):
        self.data=data
        self.children=[]
        self.parent=None
        
    def add_children(self,child):
        child.parent=self
        self.children.append(child)
        
    def get_value(self):
        level=0
        p=self.parent
        while p:
            level+=1
            p=p.parent
        return level
    
    def print_tree(self,dd):
        spaces=' '*self.get_value()*3
        prefix=spaces+'|__' if self.parent else ""
        print(prefix+self.data)
        if self.children:
            for child in self.children:
                if child.get_value()==dd+1:
                    break
                child.print_tree(dd)
    
                
def build_tree():
    Global=tree("Global")
    India=tree("India")
    USA=tree("USA")
    Global.add_children(India)
    Global.add_children(USA)
    
    Gujarat=tree("Gujarat")
    Ahmedabad=tree("Ahmedabad")
    Baroda=tree("Baroda")
    
    Karnataka=tree("Karnataka")
    Bangluru=tree("Bangluru")
    Mysore=tree("Mysore")
    NewJersey=tree("New Jersey")
    Princeton=tree("Princeton")
    Trenton=tree("Trenton")
    California=tree("California")
    SanFrancisco=tree("San Francisco")
    MountainView=tree("Mountain View")
    PaloAlto=tree("Palo Alto")
    
    India.add_children(Gujarat)
    India.add_children(Karnataka)
    
    Gujarat.add_children(Ahmedabad)
    Gujarat.add_children(Baroda)
    
    Karnataka.add_children(Bangluru)
    Karnataka.add_children(Mysore)
    
    USA.add_children(NewJersey)
    USA.add_children(California)
    
    NewJersey.add_children(Princeton)
    NewJersey.add_children(Trenton)
    
    California.add_children(SanFrancisco)
    California.add_children(MountainView)
    California.add_children(PaloAlto)
    
    
    
    return Global

In [24]:
if __name__ == '__main__':
    root_node = build_tree()
    root_node.print_tree(3)

Global
   |__India
      |__Gujarat
         |__Ahmedabad
         |__Baroda
      |__Karnataka
         |__Bangluru
         |__Mysore
   |__USA
      |__New Jersey
         |__Princeton
         |__Trenton
      |__California
         |__San Francisco
         |__Mountain View
         |__Palo Alto